<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
      .c_image {
        height: 120px;
        width: 120px;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/149/149229.svg" alt="" class="c_image">
      </div>
      <div class="row">
        <button on-click="obtenerClientes" type="button" name="button" class=" btn btn-success">Obtener clientes</button>
      </div>
      <div class="row">
          <table class="table table-hover">
            <tbody>
                <template is="dom-repeat" items="{{clientes}}">
                    <tr>
                        <td>
                            [[item.CustomerID]]
                        </td>
                        <td>
                            [[item.ContactName]]
                        </td>
                        <td>
                            [[item.CompanyName]]
                        </td>
                    </tr>
                </template>
            </tbody>
          </table>
      </div>
    </div>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'gestor-clientes'
          },
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerClientes(){
        var request = new XMLHttpRequest()
        var URL = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers"
        request.open("GET", URL, false)
        request.setRequestHeader("Accept","application/json")
        request.send()
        this.clientes = JSON.parse(request.responseText).value
        console.log(this.clientes)
      }    
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
